<header id="overview" class="jumbotron subhead">
    <h1>Up2green</h1>
    <p class="lead">
        {{ "Devenez actuer de la reforestation."|trans }}
    </p>

    <div id="blog-main-menu" class="subnav">
        <ul class="nav nav-pills">
            <li><a href="#labels">{{ "Accueil"|trans }}</a></li>
            <li><a href="">{{ "Articles"|trans }}</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ "Programmes"|trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Programme A</a></li>
                    <li><a href="#">Programme B</a></li>
                    <li><a href="#">Programme C</a></li>
                    <li><a href="#">...</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ "Nos partenaires"|trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">{{ "Les organismes planteurs"|trans }}</a></li>
                    <li><a href="#">{{ "Partenariats entreprise"|trans }}</a></li>
                    <li><a href="#">{{ "Nos solutions d'implication"|trans }}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ "Thematiques"|trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">{{ "Thème A"|trans }}</a></li>
                    <li><a href="#">{{ "Thème B"|trans }}</a></li>
                    <li><a href="#">{{ "Thème C"|trans }}</a></li>
                    <li><a href="#">{{ "Thème D"|trans }}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ "L'association"|trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">{{ "Devenir membre"|trans }}</a></li>
                    <li><a href="#">{{ "Contactez nous"|trans }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>

