{% extends 'Up2greenEducationBundle::layout.html.twig' %}

{% block content %}

{{ parent() }}

<div class="container">
{% for picture in pictures %}
<div class="span3">
    <a href="#myModal-{{ picture.id }}" role="button" class="btn" data-toggle="modal" data-target="#myModal-{{ picture.id }}">
        <img class="classroom-picture img-polaroid" src="{{ asset(picture.picture) }}" />
    </a>
</div>
<div class="modal hide" id="myModal-{{ picture.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>{{ picture.classroom.school.name }} {{ picture.classroom.name }}</h3>
  </div>
  <div class="modal-body">
    <p>
        <img class="classroom-picture img-polaroid" src="{{ asset(picture.picture) }}" />
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endfor %}
</div>

{% endblock %}
