{% if pictures is not empty %}
    <ul class="thumbnails">
    {% for picture in pictures %}
        <li class="span3" style="width: 23%; margin-left: 2%;">
            <div class="thumbnail">
                {% if picture.picture is not empty %}
                    <a class="classroom-picture-modal" href="{{ path('education_classroom_picture_show', {'id': picture.id}) }}">
                        <img src="{{ asset(picture.picture) | imagine_filter('thumb_250x250_outbound') }}" alt="{{ picture.student }}">
                    </a>
                {% endif %}
                <h5>{{ picture.student|capitalize }}</h5>
                <p>{{ picture.program|capitalize }}</p>
                {% if withActions is defined and withActions %}
                <a class="btn btn-danger" href="{{ path('education_classroom_picture_delete', {'id': picture.id}) }}">
                    {{ 'delete'|trans }}
                </a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>{{ 'no.picture'|trans }}</p>
{% endif %}
