{% if pictures is not empty %}
    <ul class="thumbnails">
    {% for picture in pictures %}
        <li class="span2">
            <div class="thumbnail">
                <img src="{{ asset(picture.picture) }}" alt="">
                <h5>{{ picture.student|capitalize }}</h5>
                <p>{{ picture.program|capitalize }}</p>
                {% if withActions is defined and withActions %}
                <a class="btn btn-danger" href="{{ path('education_classroom_picture_delete', {'id': picture.id}) }}">
                    {{ 'delete'|trans }}
                </a>
                {% endif %}
            </div>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>{{ 'no.picture'|trans }}</p>
{% endif %}
