<div class="classroom-picture-wrapper pull-left">
    <img class="classroom-picture details" src="{{ asset(picture.picture) }}" />
</div>

<div class="classroom-picture-description pull-right">

    <p>{{ 'school.description'|trans({
        '%name%' : picture.classroom.school.name,
        '%address%': picture.classroom.school.address
    })|raw }}</p>

    <p>
        {{ 'classroom.description'|trans({
            '%name%' : picture.classroom.name,
            '%year%': picture.classroom.year
        })|raw }}
        (<a href="{{ path('education_classroom_show', {'classroom_slug': picture.classroom.slug, 'school_slug': picture.classroom.school.slug }) }}">{{ 'classroom.link'|trans }}</a>)
    </p>

    <p>
        {{ 'student.description'|trans({
            '%student%' : picture.student,
            '%program%': picture.program
        })|raw }}

        {% if picture.program.logo is not empty %}
            <img class="program" src="{{ asset(picture.program.logo) | imagine_filter('thumb_250x250_outbound') }}" alt="{{ picture.program }}" />
        {% endif %}
    </p>

</div>