<div class="row-fluid">

    <div class="span8">
        <img class="classroom-picture details" src="{{ asset(picture.picture) }}" />
    </div>

    <div class="span4">

        <h5>{{ 'school.informations'|trans }}</h5>

        <dl class="dl-horizontal">
            <dd>{{ picture.classroom.school.name }}</dd>
            <dd>{{ picture.classroom.school.address }}</dd>
        </dl>

        <hr />

        <h5>{{ 'classroom'|trans }}</h5>

        <p>{{ picture.classroom.name }} ({{ picture.classroom.year }})</p>

        <hr />

        <h5>{{ 'student'|trans }}</h5>

        <dl class="dl-horizontal">
            <dt>{{ 'name'|trans }}</dt>
            <dd>{{ picture.student }}</dd>
            <dt>{{ 'program'|trans }}</dt>
            <dd>{{ picture.program }}</dd>
        </dl>
    </div>
</div>
