{% extends 'Up2greenEducationBundle::layout.html.twig' %}
{% form_theme form 'Up2greenEducationBundle:Registration:fields.html.twig' %}

{% block content %}

{{ parent() }}

<form method="post" enctype="multipart/form-data">

    {% if not form.vars.valid %}
    <div class="alert alert-error alert-block">
        <a class="close" data-dismiss="alert" href="#">×</a>
        {{ form_errors(form) }}
    </div>
    {% endif %}

    <div class="row-fluid">
        {% if form.account is defined %}
            <div class="span4 grey-box">
                {{ form_row(form.school) }}
            </div>
            <div class="span4 grey-box">
                {{ form_row(form.classroom) }}
            </div>
            <div class="span4 grey-box">
                {{ form_row(form.account) }}

                <input type="submit" class="btn btn-primary pull-right" value="{{ 'teacher.registration.submit'|trans }}"/>
            </div>
        {% else %}
            <div class="span6 grey-box">
                {{ form_row(form.school) }}
            </div>
            <div class="span6 grey-box">
                {{ form_row(form.classroom) }}

                <input type="submit" class="btn btn-primary pull-right" value="{{ 'teacher.registration.submit'|trans }}"/>
            </div>
        {% endif %}
        {{ form_rest(form) }}
    </div>

</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="{{ asset('bundles/up2greeneducation/js/education-registration.js') }}"></script>

{% endblock %}
