{% extends 'Up2greenEducationBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block _education_registration_school_address_widget %}
    <div class="google-map-preview">
        <div class="address">
            {{ block('textarea_widget') }}
        </div>
        <div class="preview">
            {# GoogleMaps #}
            <style type="text/css">
            #googlemap {
                height : 300px;
                width  : 300px;
            }
            </style>
            <div id="googlemap"></div>
            <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
        </div>
    </div>
{% endblock %}

{% block content %}

{{ parent() }}

<form method="post" enctype="multipart/form-data">

    <div class="error">
        {{ form_errors(form) }}
    </div>

    <div class="row-fluid">
        <div class="span6 grey-box">
            {{ form_row(form.school) }}
        </div>
        <div class="span6 grey-box">
            {{ form_row(form.classroom) }}
        </div>
    </div>

    <div class="grey-box">
        {{ form_row(form.account) }}
        {{ form_rest(form) }}
    </div>

    <input type="submit" class="btn btn-primary pull-right" value="{{ 'submit'|trans }}"/>
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/up2greeneducation/js/education-registration.js') }}"></script>

{% endblock %}
