{% extends 'Up2greenEducationBundle::layout.html.twig' %}
{% form_theme form 'Up2greenEducationBundle:Registration:fields.html.twig' %}

{% block content %}

{{ parent() }}

<form method="post" enctype="multipart/form-data">

    <div class="error">
        {{ form_errors(form) }}
    </div>

    <div class="row-fluid">
        <div class="span4 grey-box">
            {{ form_row(form.school) }}
        </div>
        <div class="span4 grey-box">
            {{ form_row(form.classroom) }}
        </div>
        <div class="span4 grey-box">
            {{ form_row(form.account) }}

            <input type="submit" class="btn btn-primary pull-right" value="{{ 'teacher.registration.submit'|trans }}"/>
        </div>
        {{ form_rest(form) }}
    </div>

</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/up2greeneducation/js/education-registration.js') }}"></script>

{% endblock %}
