{% extends 'Up2greenEducationBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block _education_registration_school_address_widget %}
    <div class="google-map-preview">
        <div class="address">
            {{ block('textarea_widget') }}
        </div>
        <div class="preview">
            {# GoogleMaps #}
            <style type="text/css">
            #googlemap {
                height : 300px;
                width  : 300px;
            }
            </style>
            <div id="googlemap"></div>
            <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
        </div>
    </div>
{% endblock %}

{% block content %}
<form action="{{ path('education.registration.new') }}" method="post" enctype="multipart/form-data">
{{ form_widget(form) }}
<div class"controls">
    <div class="control-group">
        <input type="submit" class="btn" value="submit"/>
    </div>
</div>
</form>
{% endblock %}

{% block javascripts %}
{{ parent() }}

<!-- Todo expert it to an extern file, with url as a param  -->
<script type="text/javascript">
    $(function() {
        var ajax;
        var mapOptions = {
            center      : new google.maps.LatLng(46.227638, 2.213749),
            zoom        : 5,
            mapTypeId   : google.maps.MapTypeId.ROADMAP
        };
        var map;

        function showCreationSchool() {
            $('#education_registration_school_name_control_group').show();
            $('#education_registration_school_address_control_group').show();
        }

        function hideCreationSchool() {
            $('#education_registration_school_name_control_group').hide();
            $('#education_registration_school_address_control_group').hide();
        }

        function showSelectSchool() {
            $('#education_registration_school_school_list_control_group').show();
        }

        function hideSelectionSchool() {
            $('#education_registration_school_school_list_control_group').hide();
        }

        hideSelectionSchool();
        hideCreationSchool();
        $('#education_registration_school_school_0').click(function() {
            showSelectSchool();
            hideCreationSchool();
        });
        $('#education_registration_school_school_1').click(function() {
            showCreationSchool();
            hideSelectionSchool();

            if (null == map) {
                map = new google.maps.Map(document.getElementById("googlemap"), mapOptions);
            }
        });

        // When a Change event is sent by address textarea
        // Call webservice to know geolocalization from the address
        // And with lat and long refresh iframe to show a preview of the address
        // Idea for futur : Populate with other school address and let people click on it
        $('#education_registration_school_address').keyup(function() {
            if (null != ajax) {
                ajax.abort();
            }
            ajax = $.ajax({
                url: "{{ path('education.registration.geoloc') }}",
                data: {
                    address: $(this).val()
                },
                dataType: 'json',
                success: function(data) {
                    console.log(data);
                    map.setCenter(new google.maps.LatLng(data.latitude, data.longitude));
                    if (null !== data.streetName) {
                        map.setZoom(17);
                    } else {
                        map.setZoom(11);
                    }
                }
            });
        });
    });
</script>
{% endblock %}