{% extends 'Up2greenEducationBundle::layout.html.twig' %}

{% form_theme form _self %}

{% block _education_registration_school_address_widget %}
    <div class="google-map-preview">
        <div class="address">
            {{ block('textarea_widget') }}
        </div>
        <div class="preview">
            {# GoogleMaps #}
            <style type="text/css">
            #googlemap {
                height : 300px;
                width  : 300px;
            }
            </style>
            <div id="googlemap"></div>
            <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>
        </div>
    </div>
{% endblock %}

{% block content %}

{{ parent() }}

<div class="grey-box">
    <form method="post" enctype="multipart/form-data">
    {{ form_widget(form) }}
    <div class"controls">
        <div class="control-group">
            <input type="submit" class="btn" value="submit"/>
        </div>
    </div>
    </form>
</div>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/up2greeneducation/js/education-registration.js') }}"></script>

{% endblock %}
