<header id="overview" class="jumbotron subhead">
    <div class="row-fluid">
        <div class="span4">
            <a class="logo" href="{{ path('blog_homepage') }}">
                <img src="/bundles/up2greencommon/images/logo/up2green_350x115.png">
            </a>

            {{ 'Devenez acteur de la reforestation'|trans }}
        </div>

        <div id="carousel-banner-programs" class="carousel slide span8">
            <ol class="carousel-indicators">
                <li data-target="#carousel-banner-programs" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-banner-programs" data-slide-to="1"></li>
                <li data-target="#carousel-banner-programs" data-slide-to="2"></li>
                <li data-target="#carousel-banner-programs" data-slide-to="3"></li>
                <li data-target="#carousel-banner-programs" data-slide-to="4"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
                {% for program in programs %}
                    <div class="{% if loop.first %}active {% endif %}item row-fluid">
                        <div class="span8">
                            <h3>{{ program.title }}</h3>
                            <h3>{{ program.summary }}</h3>
                        </div>
                        <div class="span4">
                            <img class="program" src="{{ (program.path ~ '/' ~ program.logo) | imagine_filter('thumb_250x250_outbound') }}" alt="{{ program }}" />
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#carousel-banner-programs" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#carousel-banner-programs" data-slide="next">&rsaquo;</a>
        </div>
    </div>

    <div id="blog-main-menu" class="subnav">
        <ul class="nav nav-pills">
            <li><a href="{{ path('blog_homepage') }}">{{ "Accueil"|trans }}</a></li>
            <li><a href="{{ path('blog_article_list') }}">{{ "Articles"|trans }}</a></li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ "Programmes"|trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('blog_program_list') }}">{{ "all_programs"|trans }}</a></li>
                    {% for program in programs %}
                        <li><a href="{{ path('blog_program_show', {'id': program.id}) }}">{{ program.title }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ "Nos partenaires"|trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('blog_organization_list') }}">{{ "Les organismes planteurs"|trans }}</a></li>
                    <li><a href="{{ path('blog_partner_list') }}">{{ "Partenariats entreprise"|trans }}</a></li>
                    <li><a href="{{ path('blog_article_show', {'id':'3'}) }}">{{ "Nos solutions d'implication"|trans }}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ "Thematiques"|trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('blog_article_show', {'id':'4'}) }}">{{ "La biodiversité"|trans }}</a></li>
                    <li><a href="{{ path('blog_article_show', {'id':'5'}) }}">{{ "Communauté"|trans }}</a></li>
                    <li><a href="{{ path('blog_article_show', {'id':'6'}) }}">{{ "Climat"|trans }}</a></li>
                    <li><a href="{{ path('blog_article_show', {'id':'7'}) }}">{{ "Agroforesterie"|trans }}</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle">{{ "L'association"|trans }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('blog_article_show', {'id':'8'}) }}">{{ "Missions et objectifs"|trans }}</a></li>
                    <li><a href="{{ path('blog_article_show', {'id':'9'}) }}">{{ "L'équipe"|trans }}</a></li>
                    <li><a href="{{ path('contact') }}">{{ "Contactez nous"|trans }}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
