{% extends 'Up2greenEducationBundle::layout.html.twig' %}

{% block content %}

{{ parent() }}

<div style="height: 140px;" class="alert alert-info">
    <img style="margin-right: 10px; max-height: 140px; float: left;" class="img-rounded" src="{{ asset('images/placeholder.jpg') }}" />
    <p class="lead">{{ 'up2green.need.donation'|trans }}</p>
    <p>{{ 'participate.donation.paragraph.2'|trans }}</p>

    <p class="centerize">
        <a href="{{ path('up2green_education_donation_new') }}" class="btn btn-primary">{{ 'make.donation'|trans }}</a>
    </p>
</div>

<div class="grey-box">
    <h1>{{ 'donation.list.title'|trans }}</h1>

    <br />

    <table class="donations table table-striped table-condensed">
        {% for donation in donations %}
        <tr class="donation">
            <td class="avatar">
                {% if donation.isAnonymous or not gravatar_exists(donation.email) %}
                    <img src="{{ asset('images/avatar-placeholder-40.png') }}" />
                {% else %}
                    <img src="{{ gravatar(donation.email, 40) }}" />
                {% endif %}
            </td>
            <td class="name">
                {% if donation.url is not empty %}
                    <a href="{{ donation.url }}">
                {% endif %}
                    {% if donation.isAnonymous %}
                        {{ 'anonymous'|trans }}
                    {% else %}
                        {{ donation.name}}
                    {% endif %}
                {% if donation.url is not empty %}
                    </a>
                {% endif %}
            </td>
            <td class="amount">
                {{ donation.order.amount | craue_currency(donation.order.paymentInstruction.currency) }}
            </td>
            <td class="comment">
                {{ donation.commentPublic}}
            </td>
        </tr>
        {% else %}
        <tr><td>{{ 'no.donation'|trans }}</td></tr>
        {% endfor %}
    </table>

</div>

{% endblock %}