<header id="overview" class="jumbotron subhead">
    <h1 class="logo">
      <a href="{{ path('education_homepage') }}">Up2green</a>
    </h1>

    <div id="main-menu" class="subnav">
        <ul class="nav nav-pills">
            <li><a href="{{ path('education_homepage') }}">{{ "home"|trans }}</a></li>
            <li><a href="{{ path('education_the_project') }}">{{ "the.project"|trans }}</a></li>
            <li><a href="{{ path('education_search_classroom') }}">{{ "find.your.classroom"|trans }}</a></li>
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    {{ "participate.in.the.project"|trans }} <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('education_participate_teacher') }}">{{ "are.you.a.teacher"|trans }}</a></li>
                    <li><a href="{{ path('education_participate_donation') }}">{{ "whant.to.sponsor.a.school"|trans }}</a></li>
                </ul>
            </li>
            <li><a href="{{ path('up2green_education_donation_list') }}">{{ "donations"|trans }}</a></li>
            <li class="pull-right">{{ "counter.tree"|trans }}</li>
        </ul>
    </div>
</header>
