{% extends 'Up2greenCommonBundle::layout.html.twig' %}

{% block stylesheets %}

{% stylesheets filter='less,cssrewrite,?yui_css' output='css/education_all.css'
    '@Up2greenEducationBundle/Resources/public/less/main.less'
%}
<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
{% endstylesheets %}

<style>
    #sub-header h1.logo a {
      background: url("/bundles/up2greeneducation/images/layout/{{ app.request.locale|slice(0, 2) }}/logo.png") repeat scroll 0 0 transparent;
    }
</style>
{% endblock %}

{% block body %}

    {% block header %}
        {% render 'Up2greenEducationBundle:Default:banner' %}
    {% endblock %}

    {{ parent() }}

    <div id="modal" class="modal hide fade big" tabindex="-1" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{ 'details' | trans }}</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">{{ 'close' | trans }}</button>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/up2greeneducation/js/main.js') }}"></script>

{% endblock %}
