<footer>
	<div id="legal">
		<p>
			<a href="{{ path('blog_article_show', {'id':'1'}) }}"> {{ 'privacy'|trans }} </a>
			|
			<a href="{{ path('blog_article_show', {'id':'2'}) }}"> {{ 'legal'|trans }} </a>
		</p>
		
		<p class="adress">Association Up2green Reforestation - 38 rue Desaix 75015 Paris - FRANCE</p>
			<p class="copyright">
				{{ 'dev'|trans }} :
				<a href="http://www.smartit.fr/" target="_blank">SmartIT</a>
				| {{ 'graphism'|trans }} :
				<a href="http://www.smart-id.fr/" target="_blank">Smart-ID</a>
				| {{ 'integration'|trans }} :
				<a href="http://mycoinfographie.artblog.fr/" target="_blank">mY.co Infographie</a>
			</p>
		</p>
	</div>
</footer>
