<header>
    {% set requestAttributes =  app.request.attributes.all() %}
    {% set route = requestAttributes._route is defined ? requestAttributes._route : '' %}

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">

                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="{{ path('search_homepage') }}">Up2green</a>

                <div class="nav-collapse">
                    <ul class="nav">
                        <li{% if route == 'search_homepage' %} class="active"{% endif %}>
                            <a href="{{ path('search_homepage') }}">{{ 'search_engine'|trans }}</a>
                        </li>
                        <li{% if route == 'blog_homepage' %} class="active"{% endif %}>
                            <a href="{{ path('blog_homepage') }}">{{ 'Blog'|trans }}</a>
                        </li>
                        <li{% if route == 'reforestation_homepage' %} class="active"{% endif %}>
                            {% if app.environment == 'dev' %}
                            <a href="{{ path('reforestation_homepage') }}">{{ 'Reforestation'|trans }}</a>
                            {% else %}
                            <a href="http://reforestation.up2green.com">{{ 'Reforestation'|trans }}</a>
                            {% endif %}
                        </li>
                        <li{% if route == 'education_homepage' %} class="active"{% endif %}>
                            <a href="{{ path('education_homepage') }}">{{ 'Education'|trans }}</a>
                        </li>
                        {% if is_granted("ROLE_ADMIN") %}
                        <li>
                            <a href="{{ path('sonata_admin_dashboard') }}">{{ 'administration'|trans }}</a>
                        </li>
                        {% endif %}
                    </ul>

                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-flag icon-black"></i> {{ "Language"|trans }}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% set routeName = app.request.attributes.get("_route") %}
                                {% set routeParams = app.request.attributes.get("_route_params") %}

                                <li><a href="{{ path(routeName, routeParams|merge({"_locale": 'fr'})) }}">{{ "French"|trans }}</a></li>
                                <li><a href="{{ path(routeName, routeParams|merge({"_locale": 'en'})) }}">{{ "English"|trans }}</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user icon-black"></i>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {{ app.user.username }}
                                {% else %}
                                    {{ "Your account"|trans }}
                                {% endif %}
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'Profile'|trans }}</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                                {% else %}
                                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                    <li><a href="{{ path('fos_user_registration_register') }}">{{ 'Register'|trans }}</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    {% block header %}{% endblock %}

</header>
