{% extends 'Up2greenSearchBundle::layout.html.twig' %}

{% block content %}
{{ parent() }}

<section class="center">
    <form action="{{ path('search_homepage') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
        <input type="submit" class="btn primary" value="{{ 'Search'|trans }}" />
    </form>
</section>

<section class="center">
    {% for result in results %}
        <article>
            <h2>{{ result }}</h2>
        </article>
    {% endfor %}
</section>

{% endblock %}
