{% extends 'Up2greenEducationBundle::layout.html.twig' %}
{% form_theme formGeneral 'MopaBootstrapBundle:Form:fields.html.twig' %}
{% form_theme formPicture 'MopaBootstrapBundle:Form:fields.html.twig' %}

{% block content %}

{{ parent() }}

<div class="row-fluid">
    <div class="span6 grey-box">

        <p class="lead">{{ 'classroom.edit.general'|trans }}</p>

        <form method="POST" {{ form_enctype(formGeneral) }} class="form-horizontal">

            <div class="error">
                {{ form_errors(formGeneral) }}
            </div>

            {{ form_rest(formGeneral) }}

            <span class="pull-right">
                <a class="btn btn-info" href="{{ path('education_classroom_show', {
                    'classroom_slug': classroom.slug,
                    'school_slug': classroom.school.slug
                }) }}">
                    {{ 'classroom.view.public'|trans }}
                </a>
                &nbsp;
                <button type="submit" class="btn btn-primary">{{ 'submit'|trans }}</button>
            </span>
        </form>
    </div>

    <div class="grey-box span6">

        <p class="lead">{{ 'classroom.edit.add.picture'|trans }}</p>

        <form method="POST" {{ form_enctype(formPicture) }} class="form-horizontal">

            <div class="error">
                {{ form_errors(formPicture) }}
            </div>

            {{ form_rest(formPicture) }}

            <button type="submit" class="pull-right btn btn-primary">{{ 'add'|trans }}</button>
        </form>
    </div>
</div>

<div class="grey-box">

    <h3>{{ 'pictures'|trans }}</h3>

    {% include 'Up2greenEducationBundle:ClassroomPicture:_list.html.twig' with {
        'pictures': classroom.classroomPictures,
        'withActions': 'true'
    } only %}

</div>
{% endblock %}
