{% extends 'Up2greenEducationBundle::layout.html.twig' %}

{% block content %}

{{ parent() }}

<div class="row-fluid">

    <div class="grey-box span8">

        {% if classroom.picture is not empty %}
            <img src="{{ (classroom.path ~ '/' ~ classroom.picture) }}" alt="{{ 'classroom.picture.alt'|trans }}" />
        {% endif %}

        <h3>{{ 'pictures'|trans }}</h3>

        {% include 'Up2greenEducationBundle:ClassroomPicture:_list.html.twig' with {
            'pictures': classroom.classroomPictures
        } only %}
    </div>

    <div class="grey-box span4">

        {% if is_granted('EDIT', classroom)  %}
        <p class="text-center">
            <a class="btn btn-primary" href="{{ path('education_classroom_edit', { 'id': classroom.id, }) }}">
                {{ 'classroom.edit'|trans }}
            </a>
        </p>
        {% endif %}

        <h4>{{ 'school.informations'|trans }}</h4>

        <p><b>{{ 'name'|trans }}:</b> {{ classroom.school.name }}</p>
        <p><b>{{ 'address'|trans }}:</b> {{ classroom.school.address }}</p>

        <h4>{{ 'classroom.informations'|trans }}</h4>

        <p><b>{{ 'name'|trans }}:</b> {{ classroom.name }}</p>
        <p><b>{{ 'year'|trans }}:</b> {{ classroom.year }}</p>
        {% if classroom.description is not empty %}
        <p><b>{{ 'description'|trans }}:</b> {{ classroom.description }}</p>
        {% endif %}

        {% if classroom.partner %}
            <hr />
            <div class="centerize">
                <p>
                    <b>{{ 'classroom.sponsorized_by.partner'|trans({'%partner%': classroom.partner.title}) }}</b>
                </p>

                {% include 'Up2greenReforestationBundle:PartnerLogo:_list.html.twig' with {
                    'partner': classroom.partner
                } only %}
            </div>
        {% endif %}
    </div>
</div>

{% endblock %}
